@import "tailwindcss";
@import './styles/animations.css';


/* Loader Spinner */
.loader {
    display: inline-block;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
  }
  